body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  height: 100vh;
  background: #f3f3f3;
}
.banner img {
  width: 100%;
  height: 200px;   /* podés ajustar */
  object-fit: cover; /* recorta sin deformar */
  display: block;
}

.sidebar {
  width: 250px;
  background: #111;
  color: #fff;
  padding: 1rem;
  overflow-y: auto;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.liga {
  cursor: pointer;
  font-weight: bold;
  margin: 0.5rem 0;
}

.equipos li {
  margin-left: 1rem;
  cursor: pointer;
  color: #ccc;
}

.equipos li:hover {
  color: #fff;
}

.oculto {
  display: none;
}

.contenido {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}
